<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="module" src="/index.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body
    x-data
    :class="$store.darkMode.on && 'dark'"
    class="flex items-center justify-center"
  >
    <button
      x-text="$store.darkMode.on ? 'Dark' : 'Light'"
      @click="$store.darkMode.toggle()"
      x-init="console.log($store.darkMode.on)"
    ></button>
  </body>
</html>
